<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChartViewer.Properties.Settings>
            <setting name="ValueA" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValueB" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ValueC" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueD" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Length" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="MaxX" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MinX" serializeAs="String">
                <value>-30</value>
            </setting>
            <setting name="Step" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="NOF" serializeAs="String">
                <value>0</value>
            </setting>
        </ChartViewer.Properties.Settings>
    </userSettings>
</configuration>